<template id="template">
    <style>
        #slider {
            min-width: 400px;
            min-height: 200px;
            overflow: hidden;
        }
    </style>
    <!-- Add HTML for your component here.
    Try adding <content></content> to project from the light DOM -->
    <section id="slider">
        <content></content>
    </section>
</template>
<script src="../createElement.js"></script>
<script>
    function slideNext() {
        var shadowRoot = this.shadowRoot;
        var nodes = shadowRoot.nodesData;
        shadowRoot.currentNode = (shadowRoot.currentNode + 1) % nodes.length;
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.display = 'none';
        }
        nodes[shadowRoot.currentNode].style.display = '';
    }

    function loader() {
        var shadowRoot = this.shadowRoot;
        var nodes = shadowRoot.querySelector('content').getDistributedNodes();
        shadowRoot.nodesData = [];
        shadowRoot.currentNode = 0;
        for (var i = 0; i < nodes.length; i++) {
            var node = nodes[i];
            if (node.nodeType === 1) {
                shadowRoot.nodesData.push(node);
                node.style.display = 'none';
            }
        }
        setInterval(slideNext.bind(this), 1000);
    }

    var proto = Object.create(HTMLElement.prototype);
    proto.createdCallback = loader;
    proto.slideNext = slideNext;
    createElement('my-slider', '#template', proto);
</script>